@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

section {
  /* max-width: 1100px;
  margin: auto; */
}

/* CSS Resets end */

/* Navbar */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Navbar ends */

/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  height: 37.5rem;
  width: 37.5rem;
}

.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}
/* Hero section ends */

/* More about */
.more-about {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
}
/* More about ends */

/* Skills section */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}
/* Skills section ends */

/* Projects section */
.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

/* Projects section ends */

/* Contacts section */
.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
/* Contacts section ends */

/* Social buttons */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}
/* Social button ends */

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}
/* Scroll to top button ends */

/* Footer section */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
/* Footer section ends */

/* General (utilities) */
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  .a {
    padding-top: 10%;
    width: 100%;

  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    height: 37.5rem;
    width: 30rem;
  }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}



/*style man*/

.a {
  padding-top: 4%;
  width: 100%;
  height: 70vh;

  
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 200px;
  margin: 0 auto;
  transition:.2s;
}
#sobrancelhas {
  transform: translateY(-9px);
  animation: sobrancelhas 5s linear infinite;
}

@keyframes sobrancelhas {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }

  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }

  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}

#nariz {
  transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -moz-transform: translateY(-9px);
  animation: nariz 5s linear infinite;
}

@keyframes nariz {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }

  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }

  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}

#boca {
  transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  animation: boca 5s linear infinite;
}

@keyframes boca {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }

  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }

  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}

#olhos {
  transform: translateX(-2px);
  -moz-transform: translateX(-2px);
  -ms-transform: translateX(-2px);
  animation: olhos 2s linear infinite;
}

@keyframes olhos {
  0% {
    transform: translateX(-2);
    -ms-transform: translateX(-2);
    -moz-transform: translateX(-2);
  }

  25% {
    transform: translateX(2px);
    -moz-transform: translateX(2px);
    -ms-transform: translateX(2px);
  }

  75% {
    transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
  }

  100% {
    transform: translateX(2);
    -ms-transform: translateX(2);
    -moz-transform: translateX(2);
  }
}

#notebook {
  transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  animation: notebook 6s linear infinite;
}

@keyframes notebook {
  0% {
    transform: translateY(-4);
  }

  25% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(4);
  }
}

#pernas {
  transform: translateY(-9px);
  animation: pernas 6s infinite;
}

@keyframes pernas {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }

  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }

  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}

#pe {
  animation: pe 6s infinite;
}

@keyframes pe {
  0% {
    transform: rotateX(2deg);
    -ms-transform: rotateX(2deg);
    -moz-transform: rotateX(2deg);
  }

  25% {
  }

  75% {
  }

  100% {
  }
}

#camisas {
  transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -moz-transform: translateY(-9px);
  animation: camisas 6s infinite;
}

@keyframes camisas {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }

  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }

  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}

#camisacostas {
  transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -moz-transform: translateY(-9px);
  animation: camisacostas 6s infinite;
}

@keyframes camisacostas {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }

  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }

  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}

#cabeca {
  transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -moz-transform: translateY(-9px);
  animation: cabeca 6s infinite;
}

@keyframes cabeca {
  0% {
    transform: translateY(-8);
  }

  25% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(8);
  }
}

#macae {
  opacity: 1;
  animation: macae 2s linear;
}

@keyframes macae {
  0% {
    opacity: 0.2;
  }

  25% {
  }

  75% {
  }

  100% {
  }
}

#luzmacae {
  animation: luzmacae 5s;
}

@keyframes luzmacae {
  0% {
    opacity: 0.2;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

#orelhas {
  animation: orelhas 6s linear infinite;
}

@keyframes orelhas {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }

  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }

  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}

#sombras {
  animation: sombras 6.1s linear infinite;
}

@keyframes sombras {
  0% {
    transform: scale(0.96);
  }

  25% {
    transform: scale(1);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.96);
  }
}

.aviso {
  background: #fff;
  color: #169fd4;
  text-align: center;
  padding: 2px;
  position: fixed;
  right: 0px;
  bottom: 0px;
  font-size: 9px;
}






.main {
  position: relative;
  width: 55vmax;
  height: 45vmax;
  background-size: cover;
}

/**/
.human {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 2.5vmax;
  left: 27.5%;
  width: 21vmax;
  height: 30vmax;
  z-index: 1;
}
.human__head {
  position: relative;
  display: flex;
  justify-content: center;
  width: 25%;
  height: 6vmax;
  z-index: 6000;
}
.human__head::before {
  content: '';
  position: absolute;
  width: .2vmax;
  height: .4vmax;
  bottom: 13%;
  border-radius: 50%;
  background-color: #2E2250;
  z-index: 2000;
}
.human__hair-b {
  position: absolute;
  top: -4%;
  width: 7vmax;
  height: 6vmax;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  background-color: #2E2250;
}
.human__hair-b::before, .human__hair-b::after {
  content: '';
  position: absolute;
  width: 7vmax;
  height: 7vmax;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  background-color: #2E2250;
  border-left: 1vmax solid #423352;
  animation: hair 1s infinite alternate;
}
.human__hair-b::before {
  transform: rotateZ(-20deg);
}
.human__hair-b::after {
  transform: rotateZ(20deg);
}
.human__hair-c {
  position: absolute;
  top: -5%;
  z-index: -1;
  width: 110%;
  height: 1.5vmax;
  overflow: hidden;
  border-radius: 50%;
}
.human__hair {
  width: 100%;
  height: 3vmax;
  background-color: #2E2250;
  border-radius: 50%;
}
.human__face {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 7%;
  height: 90%;
  width: 65%;
  border-radius: 45%;
  background-color: #FFC4C5;
  border-bottom: 0.6vmax solid #2E2250;
  border-left: 0.15vmax solid #2E2250;
  border-right: 0.15vmax solid #2E2250;
}
.human__eye-l, .human__eye-r {
  position: absolute;
  top: 45%;
  width: .3vmax;
  height: .5vmax;
  background-color: #2E2250;
  border-radius: 50%;
  animation: eye 4s infinite alternate;
}
.human__eye-l {
  left: 22%;
}
.human__eye-r {
  right: 22%;
}
.human__nose {
  position: absolute;
  width: .5vmax;
  height: 1.5vmax;
  bottom: 20%;
  border-radius: 50%;
  background-color: #FFA0A5;
}
.human__cheeks-l, .human__cheeks-r {
  position: absolute;
  bottom: 8%;
  width: .8vmax;
  height: .9vmax;
  background-color: #FFB1B4;
  border-radius: 50%;
}
.human__cheeks-l {
  left: 10%;
}
.human__cheeks-r {
  right: 10%;
}
.human__mouth {
  position: absolute;
  bottom: 10%;
  width: .8vmax;
  height: 1vmax;
  border-bottom: 0.15vmax solid #600004;
  border-radius: 50%;
}
.human__eyebrow-l, .human__eyebrow-r {
  position: absolute;
  top: 30%;
  width: 1vmax;
  height: .8vmax;
  border-top: 0.15vmax solid #2E2250;
  border-radius: 50%;
}
.human__eyebrow-l {
  left: 10%;
}
.human__eyebrow-r {
  right: 10%;
}
.human__ears {
  position: absolute;
  justify-content: space-between;
  top: 8%;
  width: 21%;
}
.human__ear-l, .human__ear-r {
  position: absolute;
  top: 30%;
  width: 1vmax;
  height: 1vmax;
  border-radius: 50%;
  background-color: #FFA0A5;
}
.human__ear-l {
  left: 0%;
}
.human__ear-r {
  right: 0%;
}
.human__body-c {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 17%;
  width: 100%;
  height: 11vmax;
  overflow: hidden;
  z-index: -1;
}
.human__body {
  position: relative;
  display: flex;
  justify-content: center;
  width: 96%;
  height: 22vmax;
  border-radius: 50%;
  border-left: 0.9vmax solid #FF9B5A;
  border-right: 1vmax solid #FF4624;
  background: linear-gradient(135deg, #FF4624 25%, transparent 25%) -1vmax 0, linear-gradient(225deg, #FF4624 25%, transparent 25%) -1vmax 0, linear-gradient(315deg, #FF4624 25%, transparent 25%), linear-gradient(45deg, #FF4624 25%, transparent 25%);
  background-size: 2vmax 2vmax;
  background-color: #FF552E;
  overflow: hidden;
}
.human__body::before {
  content: '';
  position: absolute;
  top: -2vmax;
  width: 4vmax;
  height: 4vmax;
  border-radius: 50%;
  background-color: #FFC4C5;
  border: 0.5vmax solid #FF371B;
}
.human__arm-l, .human__arm-r {
  position: absolute;
  bottom: 48%;
  width: 10vmax;
  height: 2.7vmax;
  background-color: #FFC4C5;
  z-index: 2000;
}
.human__arm-l {
  left: 0;
  border-right: 4vmax solid #FFB1B4;
  border-bottom: 0.7vmax solid #FFB1B4;
  border-radius: 2vmax;
  animation: arm-l 1s ease infinite alternate;
}
.human__arm-r {
  right: 2vmax;
  width: 2.25vmax;
  height: 1.5vmax;
  background-color: #dae4ed;
  border-top-left-radius: 2vmax;
  border-top-right-radius: 2vmax;
  animation: eye 2s infinite alternate;
}
.human__arm-r::before {
  content: '';
  position: absolute;
  width: 3.25vmax;
  height: 2vmax;
  background-color: #FFB1B4;
  bottom: 0;
  left: .5vmax;
  border-bottom: 0.7vmax solid #FFB1B4;
  border-top-left-radius: 2vmax;
  border-top-right-radius: 2vmax;
}
.human__legs {
  position: absolute;
  bottom: 1.3vmax;
  width: 100%;
  height: 10vmax;
  overflow: hidden;
}
.human__leg-l, .human__leg-r {
  position: absolute;
  bottom: -2vmax;
  width: 4.5vmax;
  height: 130%;
}
.human__leg-l {
  left: 3.3vmax;
  transform: rotateZ(-20deg);
  background-image: linear-gradient(80deg, transparent, transparent 35%, #001682 35%, #001682 40%, #001164 40%, #001164 90%);
  border-right: 0.5vmax solid #010a2a;
}
.human__leg-r {
  right: 3.3vmax;
  transform: rotateZ(20deg);
  background-image: linear-gradient(-80deg, transparent, transparent 35%, #001682 35%, #001682 40%, #001164 40%, #001164 90%);
  border-left: 0.5vmax solid #010a2a;
}
.human__shoes {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 45%;
  height: 2vmax;
}
.human__shoe-c {
  bottom: 0;
  height: 1.8vmax;
  width: 4.2vmax;
  overflow: hidden;
}
.human__shoe-c:nth-of-type(1) {
  animation: shoe-l 0.125s ease infinite alternate;
}
.human__shoe-l, .human__shoe-r {
  position: relative;
  height: 200%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  background-color: #2B165D;
}
.human__shoe-l::before, .human__shoe-r::before {
  content: '';
  position: absolute;
  width: 2.5vmax;
  height: 2vmax;
  top: -10%;
  background-color: #351C77;
  border-radius: 50%;
}
.human__shoe-l::before {
  left: -15%;
}
.human__shoe-r::before {
  right: -15%;
}

/*==================*/
.table {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  width: 33vmax;
  height: 15vmax;
  bottom: 2vmax;
  left: 7vmax;
  z-index: 1000;
}
.table__top {
  width: 100%;
  height: 1vmax;
  border-top: 0.1vmax solid #FFDC97;
  background-color: #2764cc;
}
.table__bottom {
  width: 95%;
  height: 2.5vmax;
  border-top: 0.75vmax solid #001164;
  background-color: #001B7A;
}
.table__legs {
  position: relative;
  display: flex;
  width: 90%;
  height: 11vmax;
}
.table__leg {
  position: absolute;
  top: 0;
  width: .6vmax;
  height: 100%;
  border-top: 0.75vmax solid #001164;
  background-color: #001B7A;
}
.table__leg:nth-of-type(1) {
  left: 1%;
}
.table__leg:nth-of-type(2) {
  left: 9%;
}
.table__leg:nth-of-type(3) {
  left: 88%;
}
.table__leg:nth-of-type(4) {
  left: 96%;
}

/*==================*/
.laptop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -6.1vmax;
  left: 13vmax;
  width: 11vmax;
  height: 6vmax;
  background-color: #dae4ed;
  border-top: 0.2vmax solid #FFDC97;
  border-left: 0.2vmax solid #FFDC97;
  overflow: hidden;
}
.laptop::before {
  content: '';
  position: absolute;
  height: 1vmax;
  width: 1vmax;
  border-radius: 50%;
  background-color: #dae4ed;
  z-index: 100;
}
.laptop::after {
  content: '';
  position: absolute;
  right: 20%;
  bottom: -40%;
  height: 300%;
  width: 300%;
  border-radius: 50%;
  background-color: #FFFFFF;
}

/*==================*/
.cup {
  position: absolute;
  top: -2.6vmax;
  left: 5vmax;
  width: 2vmax;
  height: 2.5vmax;
  background-image: linear-gradient(to bottom, #008C9A, #008C9A 10%, #04798c 10%, #04798c 20%, #008C9A 20%, #008C9A 80%, #04798c 80%, #04798c 90%, #008C9A 90%);
}
.cup::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-135deg, rgba(255, 220, 151, 0.5), rgba(255, 220, 151, 0.1), rgba(255, 220, 151, 0));
}
.cup::after {
  content: '';
  position: absolute;
  right: -.7vmax;
  top: .25vmax;
  width: .9vmax;
  height: 1.5vmax;
  border-top: 0.2vmax solid #04798c;
  border-bottom: 0.2vmax solid #008C9A;
  border-right: 0.2vmax solid #008C9A;
  border-left: .2vmax solid transparent;
  border-radius: 45%;
  z-index: -1;
}

/*==================*/
.chair {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 12vmax;
  height: 14vmax;
  bottom: 2vmax;
  left: calc(50% - 8vmax);
}
.chair__top {
  position: relative;
  width: 100%;
  height: 5vmax;
  border-bottom: 0.7vmax solid #005788;
  background-color: #010109;
}
.chair__top::before {
  content: '';
  position: absolute;
  bottom: .1vmax;
  right: 0;
  width: 80%;
  height: 35%;
  border-radius: 100% 0% 100% 0%/82% 100% 0% 18%;
  background-color: #010a2a;
}
.chair__line {
  width: .7vmax;
  height: 7.2vmax;
  border-top: 0.7vmax solid #00467F;
  border-left: 0.15vmax solid #005788;
  border-right: 0.15vmax solid #005788;
  background-image: repeating-linear-gradient(to bottom, #005788, #005788 4%, #00467F 4%, #00467F 6%);
}
.chair__base {
  position: relative;
  width: 100%;
  height: .7vmax;
  border-bottom: 0.2vmax solid #00467F;
  background-color: #005788;
}
.chair__wheels {
  position: absolute;
  bottom: 1vmax;
  width: 100%;
  height: .7vmax;
  z-index: -1;
}
.chair__wheel {
  position: absolute;
  height: .8vmax;
  width: .8vmax;
  top: .4vmax;
  border-radius: 50%;
  background-color: #001164;
}
.chair__wheel:nth-of-type(1) {
  left: .4vmax;
}
.chair__wheel:nth-of-type(2) {
  right: .4vmax;
}

/*==================*/
.trashcan {
  position: absolute;
  width: 3.5vmax;
  height: 6vmax;
  bottom: 2.5vmax;
  left: 13.5vmax;
  background-image: repeating-linear-gradient(to bottom, #010a2a 0vmax, #010a2a 0.4vmax, #001164 0.4vmax, #001164 0.45vmax);
  transform: perspective(350px) rotateX(-40deg);
  transform-origin: bottom center;
}
.trashcan::before {
  content: '';
  position: absolute;
  left: calc(0%  - .2vmax);
  width: 115%;
  height: .2vmax;
  background-color: #001682;
}

/*==================*/
.window {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2.5vmax;
  right: 2.5vmax;
  width: 23.5vmax;
  height: 28vmax;
  border: 0.1vmax solid #001164;
}
.window__container {
  width: 98%;
  height: 98%;
  border: 0.2vmax solid #0F1316;
  background-image: linear-gradient(-45deg, #010109, #010516);
  box-shadow: inset -0.1vmax -0.1vmax 0 #FFDC97;
}
.window__container::before {
  content: '';
  position: absolute;
  top: 30%;
  width: 100%;
  height: .5vmax;
  background-color: #0F1316;
}
.window__container::after {
  content: '';
  position: absolute;
  left: calc(50% - .25vmax);
  height: 100%;
  width: .5vmax;
  background-color: #0F1316;
}

.building {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  bottom: .1vmax;
  right: .1vmax;
  width: 20%;
  height: 40%;
  padding: .75vmax .3vmax;
  border-top: 0.1vmax solid #0d0900;
  z-index: -1;
  overflow: hidden;
}
.building__window, .building__window-f {
  height: 1.5vmax;
  width: .75vmax;
  margin: .45vmax;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  background-color: #010a2a;
  border-bottom: 0.15vmax solid black;
  border-left: 0.15vmax solid black;
}
.building__window--active, .building__window-f--active {
  background-color: black;
}
.building__window-f {
  width: 39%;
  border-radius: 0;
  height: 1vmax;
}
.building__window-on-1 {
  animation: win 20s infinite alternate;
}
.building__window-on-2 {
  animation: win 12s infinite alternate;
}
.building__window-on-3 {
  animation: win 10s infinite alternate;
}
.building__window-on-4 {
  animation: win 15s infinite alternate;
}
.building:nth-of-type(1) {
  right: .1vmax;
  width: 25%;
  height: 65%;
  background-color: #020212;
}
.building:nth-of-type(2) {
  left: 15%;
  width: 36%;
  height: 30%;
  background-color: #020212;
}
.building:nth-of-type(3) {
  left: 40%;
  width: 40%;
  height: 50%;
  z-index: -2;
  background-color: #010109;
}
.building:nth-of-type(4) {
  left: 5%;
  width: 40%;
  height: 60%;
  background-color: black;
  z-index: -3;
}

/*==================*/
.lamp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2vmax;
  left: 15vmax;
  width: 5vmax;
  height: 12vmax;
  animation: lamp 1s ease infinite alternate;
}
.lamp::before {
  content: '';
  position: absolute;
  width: 1vmax;
  height: 1vmax;
  left: calc(50% - .5vmax);
  bottom: 0;
  border-radius: 50%;
  background-color: #FFDC97;
}
.lamp__top {
  position: relative;
  display: flex;
  justify-content: center;
  width: .25vmax;
  height: 70%;
  background-color: #001164;
}
.lamp__light {
  position: absolute;
  width: 5vmax;
  height: 15vmax;
  bottom: -17.5vmax;
  background-image: linear-gradient(to bottom, rgba(255, 220, 151, 0.0075), rgba(255, 220, 151, 0.025));
  z-index: 4000;
  animation: light 4s ease infinite alternate;
}
.lamp__light::before, .lamp__light::after {
  content: '';
  position: absolute;
  width: 4vmax;
  height: 16vmax;
}
.lamp__light::before {
  top: -1vmax;
  right: 2vmax;
  transform: rotateZ(10deg);
  background-image: linear-gradient(to right, rgba(255, 220, 151, 0.1), rgba(255, 220, 151, 0.1), rgba(255, 220, 151, 0));
}
.lamp__light::after {
  top: -1vmax;
  left: 2vmax;
  transform: rotateZ(-10deg);
  background-image: linear-gradient(to left, rgba(255, 220, 151, 0.1), rgba(255, 220, 151, 0.1), rgba(255, 220, 151, 0));
}
.lamp__base-c {
  position: relative;
  width: 100%;
  height: 2.5vmax;
  overflow: hidden;
  border-bottom: 0.1vmax solid #FFDC97;
  padding-bottom: 1vmax;
}
.lamp__base {
  position: relative;
  width: 100%;
  height: 5vmax;
  border-radius: 50%;
  background-color: #001B7A;
  border-right: 1vmax solid #001164;
}

/*==================*/
.bricks {
  padding: 10%;
  position: relative;
  width: 100%;
  height: 100%;
}

.brick {
  position: absolute;
  width: 10vmax;
  height: 6vmax;
  top: 10%;
  left: 25%;
  z-index: -1;
  background-image: repeating-linear-gradient(to bottom, #001164, #001164 0.1vmax, transparent 0.1vmax, transparent 2vmax);
  opacity: .75;
}
.brick:nth-of-type(2) {
  top: 75%;
  left: 75%;
}
.brick::before, .brick::after {
  content: '';
  position: absolute;
  height: 2vmax;
  width: .1vmax;
  background-color: #001164;
  left: 25%;
}
.brick::after {
  left: 50%;
  bottom: 2vmax;
}

/**********************/
/**********************/
/**********************/
@keyframes lamp {
  0% {
    transform: rotate(-1deg);
    transform-origin: top center;
  }
  100% {
    transform: rotate(1deg);
    transform-origin: top center;
  }
}
@keyframes light {
  0%,70%,72%,100% {
    opacity: 1;
  }
  71% {
    opacity: .6;
  }
}
@keyframes eye {
  0%, 10%, 50%, 90%, 100% {
    transform: translateX(-0.1vmax);
  }
  30%, 60% {
    transform: translateX(0.1vmax);
  }
}
@keyframes hair {
  0% {
    border-left: 1vmax solid #423352;
  }
  100% {
    border-left: 0.9vmax solid #423352;
  }
}
@keyframes arm-l {
  0%, 45%, 60%, 80% {
    transform: rotateZ(0deg);
    transform-origin: bottom left;
  }
  50%, 100% {
    transform: rotateZ(-3deg);
    transform-origin: bottom left;
  }
}
@keyframes shoe-l {
  0% {
    transform: rotateZ(0deg);
    transform-origin: bottom right;
  }
  100% {
    transform: rotateZ(5deg);
    transform-origin: bottom right;
  }
}
@keyframes win {
  0%,50%, 91% {
    background-color: black;
  }
  60%,90% {
    background-color: #241a3e;
  }
}
